.git
.github
.githooks

node_modules
**/node_modules

.next
**/.next
out
**/out
build
**/build
coverage
**/coverage

cypress
**/cypress

.env
.env.*
**/.env
**/.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
*.pem
